# Настройки сервера
NODE_ENV=development
PORT=17777

# Настройки безопасности
CORS_ORIGIN=*

# Настройки логирования
LOG_LEVEL=info
LOG_FILE=./logs/app.log

# Настройки внешнего API для vehicle detection для открытия ворот
GATE_LINK=http://{login}:{pass}@{ip}:{port}/protect/rb0s.cgi

# Настройки уведомлений (интервал в миллисекундах между уведомлениями о vehicle detection)
# 1000 - 1 секунда
MIN_INTERVAL_MS=12000
